.sampling-bar-container {
  background-color: #333;
  display: flex;
  height: 400px;
  margin: 50px auto;
  width: 600px;
}

.bar {
  background-color: #666;
  display: flex;
  height: 30px;
  margin: auto 0;
  width: 100%;
}

.bar-section {
  height: 100%;
}

.bar-section.blue {
  background-color: #3CA3E8;
  width: 34%;
}

.bar-section.green {
  background-color: #00C96E;
  width: 33%;
}

.bar-section.red {
  background-color: #E55653;
  width: 33%;
}
